body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-image: url('../images/bg.jpg');
    background-size: cover;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

#header {
    border: 2px solid #2bb4a2;
    box-shadow: 0px 0px 5px 1px rgba(43, 180, 162, 0.5);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px 50px;
    transform: skew(-10deg) rotate(2deg);
}

#header h1 {
    padding: 0;
    transform: skew(10deg) rotate(-2deg);
    text-shadow: 0px 0px 10px rgba(43, 180, 162, 0.75);
}

#content {
    max-width: 80vw;
    text-align: center;
    background-color: rgba(43, 180, 162, 0.9);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

#poster {
    width: 100%;
}

#desc {
    margin: 10px;
    font-size: 1.3em;
}

#details {
    margin: 10px 0;
    font-family: "Courier New", Courier, monospace !important;
    font-size: 1.2em;
}

#details .title {
    font-weight: bold;
}

#details div {
    margin: 5px 0;
}

.align{
    margin-left: 0px;
    text-align: left;
}