@font-face {
    font-family: 'Market Deco';
    src: url('../fonts/Market_Deco.ttf');
}

.reveal p, .reveal div {
    font-family: 'Montserrat', sans-serif;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: 'Market Deco', sans-serif;
    font-weight: 100;
    color: #d92d8d;
}

.reveal section img {
    background: none;
    border: none;
    margin: 0;
}

.reveal p {
    font-size: 25px;
}

.reveal a {
    color: #2bb4a2;
}

.reveal a:hover {
    color: white;
}

.subheading {
    font-family: "Courier New", Courier, monospace !important;
    font-weight: 100;
    color: #2bb4a2;
    text-transform: lowercase;
}

.subheading::before {
    content: '<';
}

.subheading::after {
    content: '/>';
}

#date {
    background-color: #2bb4a2;
    padding: 5px 0;
    font-size: 0.8em;
    font-family: 'Market Deco', sans-serif;
}

#date sup {
    font-size: 0.6em;
}

#go-right {
    width: 20px;
}

#social {
    height: 60px;
}

#social a {
    padding: 0px 10px;
}

.text-align {
    text-align: left;
}

.section-divide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#main-events {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#main-events .event-category {
    width: 250px;
    height: 500px;
    margin: 20px;
    border: 2px solid #d92d8d;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0px 0px 10px 1px rgba(217, 45, 141, 0.5);
    transition: all 0.2s ease-in-out;
}

#main-events .event-category:hover {
    transform: translate(0, -20px);
    border-color: #d92d8d;
}

.events {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.events .event {
    width: 250px;
    height: 100px;
    margin: 10px;
    border: 2px solid #2bb4a2;
    box-shadow: 0px 0px 5px 1px rgba(43, 180, 162, 0.5);
    border-radius: 10px;
}

#team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#team .title {
    text-transform: lowercase;
    margin: 5px 0;
    font-size: 18px;
    font-family: "Courier New", Courier, monospace !important;
    font-weight: 100;
    font-size: 1.2rem;
}

#team .name {
    text-transform: uppercase;
    margin: 5px 0;
}

#team .title::before {
    content: '<';
}

#team .title::after {
    content: '/>';
}

#chair, #council {
    min-width: 300px;
    border: 2px solid #2bb4a2;
    box-shadow: 0px 0px 5px 1px rgba(43, 180, 162, 0.5);
    border-radius: 10px;
    margin: 10px 0;
}

#vicechair {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#committee {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#vicechair div, #committee div, #techhead {
    min-width: 250px;
    margin: 10px 5px;
    padding: 10px 20px;
    border: 2px solid #2bb4a2;
    box-shadow: 0px 0px 5px 1px rgba(43, 180, 162, 0.5);
    border-radius: 10px;
}

.psuedo-btn {
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.psuedo-btn:hover {
    background-color: #2bb4a2;
}

#black-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 40;
    display: none;
}

.team-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 80vh;
    max-width: 80vw;
    margin: auto;
    z-index: 50;
    display: none;
}


/* Mobile Devices */

@media only screen and (max-width: 768px) {
    .mobile-hide {
        display: none;
    }
    .text-align {
        text-align: center;
    }
    .section-divide {
        flex-wrap: wrap;
    }
    #main-events {
        flex-wrap: wrap;
    }
    #main-events .event-category {
        width: 500px;
        height: 100px;
    }
}